<!-- todos.component.html -->

<section class="container">
  <h1 class="text-uppercase">Uppgifter</h1>
  <input
    #todoInput
    (keyup.enter)="addItem(todoInput)"
    class="form-control mb-3"
    placeholder="Add todo"
  />
  <ng-container *ngIf="items; else noItems">
    <ul class="list-group">
      <button
        @fadeAndSlide
        type="button"
        *ngFor="let item of items"
        (click)="removeItem(item)"
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        {{ item.title }}
      </button>
    </ul>
  </ng-container>
  <ng-template #noItems>
    <p>Inga todo-uppgifter tillgängliga</p>
  </ng-template>
</section>
